<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>차량 정보 상세</h1>


    <a href="/car">목록</a>
    <a href="/car/modify/?id=<%=car._id %>">수정</a>
    <a href="/car/delete/?id=<%=car._id %>">삭제</a>
</body>

</html>