<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>차량 정보 입력</h1>
    <form action="/car/input" method="post">
        <table>
            <tr>
                <th>Name</th>
                <td><input type="text" name="name" value=""></td>
            </tr>
            <tr>
                <th>Price</th>
                <td><input type="text" name="price" value=""></td>
            </tr>
            <tr>
                <th>Company</th>
                <td><input type="text" name="company" value=""></td>
            </tr>
            <tr>
                <th>Year</th>
                <td><input type="text" name="year" value=""></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="저장"></td>
            </tr>
        </table>
    </form>
</body>
</html>