.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }

}
/* .input-group {
  padding-top: 20px;
} */

/* hr{
  margin: 50px;
} */

input {
  text-align: center;
}

.jumbotron {
  background-image: url('https://www.bmwgroupsupplier.co.uk/gfx/fleet-of-cars-for-header-image.webp');
  background-color: rgba(255, 255, 255, 0.767);
  /* 흰색 배경과 50% 투명도 적용 */
  background-blend-mode: overlay;
  /* 배경 이미지와 배경색 혼합 */
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
}